<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if contentWrapperClass is defined %}
<div id="contentWrapper" class="{{ contentWrapperClass }}">
    {% else %}
    <div id="contentWrapper">
        {% endif %}
