{% include 'header.tmpl.html' %}

<h1>Witaj</h1>
<div class="crossroads">
    <ul>
        {% for crossroad in crossroads %}
        <li>{{ crossroad.getName() }}
            <button type="submit" formmethod="GET" formaction={{ crossroad.getId() }}>show crossroad</button>
        </li>
        <form>
            {% for cycle in cycles %}
              {% if crossroad.getId() == cycle.getCrossroadsId() %}
                <li><input type="radio" name="cycle" value={{ cycle.getId() }} {% if cycle.getActive == 'yes' %}checked{% endif %}> {{ cycle.getName() }}</li>
              {% endif%}
            {% endfor %}

        </form>
        {% endfor %}
    </ul>

</div>

{% include 'footer.tmpl.html' %} 