body{
    background-color: #7CE700;
    margin: 0 auto;

}
/*.back{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
/*.road1 {*/
    /*width: 200vw;*/
    /*height: 100px;*/
    /*background-color: #000000;*/
/*}*/
/*.road2 {*/
    /*width: 200px;*/
    /*height: 100vh;*/
    /*background-color: #000000;*/
/*}*/

.cross {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, transparent 35%, #000000 35%, #000000 65%,  transparent 65%),
    linear-gradient(to right, transparent 45%, #000000 45%, #000000 55%, transparent 55%);
}

/*.cross {*/
    /*background: #000000;*/
    /*height: 100px;*/
    /*position: relative;*/
    /*width: 20px;*/
/*}*/
/*.cross:after {*/
    /*background: #000000;*/
    /*content: "";*/
    /*height: 20px;*/
    /*left: -40px;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*width: 100px;*/
/*}*/

